
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: web-app
          image: 337664200612.dkr.ecr.ap-southeast-2.amazonaws.com/test-ecr:latest 
          ports:
            - containerPort: 8080
          env:
            - name: PLATFORM
              value: "EKS-Kubernetes"
